@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kanit:wght@200&family=Prompt:wght@300&family=Roboto:ital,wght@1,300&family=Rowdies:wght@700&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kanit:wght@200&family=Prompt:wght@300&family=Roboto:ital,wght@1,300&family=Rowdies:wght@700&family=Source+Code+Pro:wght@300&family=Source+Serif+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{

    background-color:grey;
    width: 10vw;
    font-family: 'Dosis', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Source Serif Pro', serif;
    height: 100vh;
}
.sidebar nav{
    padding:20px;
}
.sidebar nav li{
    list-style: none;
    padding: 30px 0px;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
  
    width: 75vw;
}
.container{
    display: flex;
}
.infocontainer{
   
    height: 83vh;
    width: 70vw;
    margin: 25px auto;
    display: flex;
    justify-content: space-around;
}
.Myinfo{
    padding-left: 10px;
    display:flex;
    justify-content: center;
    flex-direction: column;


}
.mypic{
    margin-top: 50px;
    padding-top: 50px;
    height: 100px;
    width: 100px;
}
.Iam{
    font-size: 60px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Serif Pro', serif;
}
.Name{
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutme{
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Dosis', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Serif Pro', serif;
    }
    .moreabout{
        font-size: 15px;
        padding-top: 25px;
       font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
.buttons{
    padding: 15px;
}
.buttons button:hover {
    
    color: rgb(96, 9, 96);
    background-color: rgb(115, 113, 113);
   
}
.buttons button {
    padding: 10px;
    color: white;
    background-color: rgb(96, 9, 96);
    border-radius: 20px;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
}
.introme{
    display: flex;
    width: 75vw;
    font-size: 20px;
    padding: 20px;
    justify-content: end;
    color: crimson;
    font-family: 'Dosis', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Source Serif Pro', serif;
    

}